.collection {
    position: relative;
    width: 30%;
}

.collectionImage {
    /* width: 100%; */
    display: block;
    border-radius: var(--space-3xs);
}

.collectionTitle {
    position: absolute;
    bottom: clamp(14px, 2vw, 18px);
    left: clamp(14px, 2vw, 18px);
    color: white;
    font-size: 24px;
}