.footerWrapper{
    background-color: var(--color-bg-footer);
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-3xs) var(--space-md);
    padding: var(--space-md) var(--space-xs);
    max-width: 2440px;
    width: 100%;
}

.footerText{
    color: var(--color-text-primary);
    font-size: var(--fs-footer);
    font-family: var(--font-footer);
    font-weight: 400;
}